name: Run test.py every 1 minutes
on:
  schedule:
    - cron: '5 * * * *'
jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Run test.py
        run: python test.py
      
    
